<% if object.errors.any? %>
  <div class="alert alert-danger container w-50">
    <h4><%= pluralize(object.errors.count,'') %><%= t('errors.messages.mistake')%></h4>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>