@import "bootstrap";
@import "top";
@import "sign_in";

body {
  background-color: #FFF8EC;
}

header {
  background-color: white;
  position: relative;
  top: 0;
  z-index: 100;
}

.card-body {
  text-decoration: none;
  color: inherit;
}

.fix-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}