@import "bootstrap";

main {
  background-color: #FFF8EC;
}


.image-wrapper {
    height: 250px;
    max-height: 250px;
}

.text_content {
    background-color: white; 
    border-radius: 20px; 
    color: #333; 
    border: 1px solid black; 
    height: 100%; 
    padding: 20px;
}




@media (max-width: 576px) {
  .image-wrapper {
    height: 150px;
    max-height: 150px;
  }
}

.btn-group {
    .btn-check {
        &:checked + .btn {
            background-color: #EEEEEF;
            border-color: #ccc;
            color: #333;
        }
    }
    .btn {
        border: 1px solid #ccc;
    }
}